/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
    background-color: #031B2F;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px 50px;
    background-color: #0D1B32;
    color: white;
}

.navbar-list {
    display: flex;
    gap: 20px;
}

.navbar-list li {
    list-style-type: none;
}

.navbar-list a {
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar-list a:hover {
    color: #00bcd4;
}

.auth-buttons {
    display: flex;
    gap: 15px;
}

.auth-buttons button {
    background-color: #00bcd4;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.auth-buttons button:hover {
    background-color: #008c9e;
}

/* Main Content Styles */
.main-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.main-content h1 {
    font-size: 1.9rem;
    color: white;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 0.9rem;
    color: #ffff;
    margin-bottom: 30px;
}

.get-started-btn {
    background-color: #0D1B32;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
}

.get-started-btn:hover {
    background-color: #008c9e;
}

/* Container & Content Section Styles */
.container {
    width: 100%;
    padding: 50px 0;
    background-color: #fff;
}

.content-section {
    max-width: 100%;
    margin: 0;
    text-align: left;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.content-section h2 {
    line-height: 20px;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 10px;
}

.content-section p {
    line-height: 20px;
    font-size: 1.2rem;
    color: #666;
}

.logo {
    font-size: 24px;
    font-weight: bold;
  }